#wrap {
	width: 800px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f5f5f5;
}

#left, #right {
	float: left;
	width: 400px;
}

h3 {
	color: #40474e;
}
	
p {
	color: #898b90;
}	

#first-button, #second-button {
	border: none;
	border-radius: 20px;
	display: block;
	width: 99px;
	height: 36px;
	background-color: #50c3af;
	color: #f5f5f5;
}